<br>
<br>
<h3>Top 5 Countries</h3>
<div class="row mt-5" >
    <div class="col-md-4">
        <h4>Total Cases</h4>
        <ul class="list-group">
        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">United States of America</div>
            </div>
            <span class="badge bg-warning rounded-pill">87,923</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">India</div>
            </div>
            <span class="badge bg-warning rounded-pill">75,543</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">China</div>
            </div>
            <span class="badge bg-warning rounded-pill">61,322</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Brazil</div>
            </div>
            <span class="badge bg-warning rounded-pill">51,012</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Russia</div>
            </div>
            <span class="badge bg-warning rounded-pill">45,989</span>
        </li>
    </ul>
    </div>



    <div class="col-md-4">
        <h4>Total Deaths</h4>

        <ul class="list-group">
        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">United States of America</div>
            </div>
            <span class="badge bg-danger rounded-pill">22,045</span>
        </li>
        
        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">India</div>
            </div>
            <span class="badge bg-danger rounded-pill">18,832</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Brazil</div>
            </div>
            <span class="badge bg-danger rounded-pill">14,862</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">China</div>
            </div>
            <span class="badge bg-danger rounded-pill">14,823</span>
        </li>

        <li class="list-group-item d-flex justify content-between align-content-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Russia</div>
            </div>
            <span class="badge bg-danger rounded-pill">13,276</span>
        </li>
    </ul>
</div>






<div class="col-md-4">
    <h4>Total Recovered</h4>

    <ul class="list-group">
    <li class="list-group-item d-flex justify content-between align-content-center">
        <div class="ms-2 me-auto">
            <div class="fw-bold">United States of America</div>
        </div>
        <span class="badge bg-success rounded-pill">43,023</span>
    </li>
    
    <li class="list-group-item d-flex justify content-between align-content-center">
        <div class="ms-2 me-auto">
            <div class="fw-bold">India</div>
        </div>
        <span class="badge bg-success rounded-pill">40,678</span>
    </li>

    <li class="list-group-item d-flex justify content-between align-content-center">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Brazil</div>
        </div>
        <span class="badge bg-success rounded-pill">25,111</span>
    </li>

    <li class="list-group-item d-flex justify content-between align-content-center">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Russia</div>
        </div>
        <span class="badge bg-success rounded-pill">24,023</span>
    </li>

    <li class="list-group-item d-flex justify content-between align-content-center">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Japan</div>
        </div>
        <span class="badge bg-success rounded-pill">21,056</span>
    </li>
</ul>
</div>
</div>