<h1 class = "title">Welcome to the Awareness Page!</h1>
<div class= "awareness-container">
<p> <br><br><br></p>


<p class = "title1"><strong>Keep Up With Trusted Sources </strong></p>
<p class="trusted">Staying informed through reliable sources like the World Health Organization (WHO), the Centers for Disease Control and Prevention (CDC), and your local health department is crucial. These organizations provide up-to-date information on the spread of the virus, guidelines for prevention, and updates on vaccine availability. Avoid misinformation by cross-checking facts and relying on trusted news outlets for your updates.</p>

<p class = "title2"><strong>Having Good Hygiene</strong></p>

<p class="hygiene">Basic hygiene practices are still some of the most effective ways to prevent the spread of COVID-19. Wash your hands frequently with soap and water for at least 20 seconds, especially after being in public spaces or after coughing or sneezing. If soap and water are not available, use a hand sanitizer that contains at least 60% alcohol. Avoid touching your face, particularly your eyes, nose, and mouth, to reduce the risk of transmission.</p>

<p class = "title3"><strong>Wear Masks in Crowded or High-Risk Areas</strong></p>
<p class="masks">Wearing a mask is an effective way to prevent the spread of the virus, especially in crowded places or areas where social distancing is difficult. Masks should cover both the nose and mouth and fit snugly against the sides of your face. Be aware of the guidelines in your area regarding mask usage, as they may change based on the current level of community transmission.</p>















</div>