<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="input-group mt-3">
            <input
            type="text"
            class="form-control"
            placeholder="Search Country"
            [(ngModel)]="searchTerm" 
            />
<!-- need to import something in shared.module.ts to get rid of error in the above line at 2:13-->
            <button
            class="btn btn-outline-success"
            type="button"
            (click)="search()"
            >Search</button>
        </div>
    </div>
</div>
