<div class="influenza-container">
    <h1 class="heading">Predict Next Day's Cases</h1>
  
       <!-- Display the prediction result -->
    <div *ngIf="predictedCases !== null">
      <h2 class="prediction-text">Predicted Cases for Tomorrow: {{ predictedCases }}</h2>
    </div>

      <!-- Dropdown for selecting a country -->
      <label id = "countryLabel" for="country" class="dropdown-label">Select a Country:</label>
      <select id="country" class="dropdown-select" [(ngModel)]="selectedCountry">
        <option *ngFor="let country of countries" [value]="country.name">
          {{ country.name }}
        </option>
      </select>

    
    <label id="casesLabel" for="cases">Cases Today:</label>
    <input type="number" id="cases" [(ngModel)]="cases">
  
    <label id="deathsLabel" for="deaths">Deaths Today:</label>
    <input type="number" id="deaths" [(ngModel)]="deaths">
  
    <label id="recoveriesLabel" for="recoveries">Recoveries Today:</label>
    <input type="number" id="recoveries" [(ngModel)]="recoveries">
  
    <!-- Button to trigger the prediction -->
    <button (click)="runModel()">Predict Cases</button>
    <p class="user-note"><strong>Note: </strong>The cases displayed intially is the predicted number of cases globally. The countries listed in the drop down menu are countries that have the highest number of Influenza cases. Select a country and begin your Influenza case count predictions today!</p>
    
    <p class = "MSE"><strong>Warning! </strong><br>{{message}}</p>

    <div *ngIf="responseMessage" class="response-message">
      <h3>{{ responseMessage }}</h3>
    </div>
 




  </div>
  